<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Actas y Cronogramas{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <nav>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('actas.dashboard') }}"> <img src="{{ url_for('static', filename='documento.png') }}" alt="Actas" class="nav-icon">
  Actas</a> |
        <a href="{{ url_for('actas.subir_acta') }}"> <img src="{{ url_for('static', filename='subir.png') }}" alt="Subir acta" class="nav-icon"> Subir acta</a> |
        <a href="{{ url_for('cronogramas.index') }}"> <img src="{{ url_for('static', filename='cuaderno.png') }}" alt="Cronogramas" class="nav-icon"> Cronogramas</a> |
        <a href="{{ url_for('cronogramas.subir_cronograma') }}"> <img src="{{ url_for('static', filename='subir.png') }}" alt="Subir cronograma" class="nav-icon"> Subir cronograma</a> |
        {% if current_user.role == 'admin' %}
            <a href="{{ url_for('auth.register') }}"> <img src="{{ url_for('static', filename='agregar-usuario.png') }}" alt="Crear Usuario" class="nav-icon"> Crear Usuario</a> |
        {% endif %}

        <a href="{{ url_for('auth.logout') }}"> <img src="{{ url_for('static', filename='cerrar-sesion.png') }}" alt="Cerrar sesión" class="nav-icon"> Cerrar sesión</a>
    {% else %}
        <a href="{{ url_for('auth.login') }}">Iniciar sesión</a>
    {% endif %}
  </nav>
  </header>

{% if current_user.is_authenticated %}
  <div class="user-left responsive-user">
    <div class="username">
      <img src="{{ url_for('static', filename='alumno.gif') }}" 
           alt="Crear Usuario" class="nav2-icon"> 
      {{ current_user.username }} 
      {% if current_user.role %} ({{ current_user.role }}) {% endif %}
    </div>

    <button class="btn-back" onclick="goBack()">Atrás</button>
  </div>
{% endif %}

<script>
  function goBack() {
    const prev = "{{ request.referrer or url_for('home') }}"; // usa 'home' como respaldo
    window.location.href = prev;
  }
</script>

<!-- modificacon a clase main -->
 
  <main class="{% block main_class %}{% endblock %}"> <!-- modificacon a clase main -->
    <div class="container">
  
      {% block content %}{% endblock %}
    </div>
  </main>
   <footer>
    <p>© 2025 Plataforma Actas y Cronogramas</p>
     </footer>
</body>
</html>
