{% extends 'base.html' %}

{% block title %}Crear usuario{% endblock %}
{% block main_class %}main-center{% endblock %}

{% block content %}

<h3 class="crear-usuario">Crear usuario</h3>
<div class="login-box"> 
  <div  class="login-logo">  
  <img src="{{ url_for('static', filename='agregar.gif') }}" alt="logo" class="nav2-icon">
</div>
<form method="post">
  <label >Usuario</label><br>
  <input name="username" required><br>

  <label>Contraseña</label><br>
  <input type="password" name="password" required><br>

 <div class="form-group">
  <label for="role">Rol</label><br>
  <select name="role" id="role" class="select-role">
    <option value="user">Usuario</option>
    <option value="admin">Admin</option>
  </select>
</div>

  <button type="submit">Crear</button>
</form>
</div>

{% endblock %}

