{% extends 'base.html' %}

{% block title %}Crear usuario{% endblock %}
{% block main_class %}main-center{% endblock %}

{% block content %}

<h3 class="crear-usuario">Crear usuario</h3>
<div class="login-box"> 
<form method="post">
  <label>Usuario</label><br>
  <input name="username" required><br>

  <label>Contraseña</label><br>
  <input type="password" name="password" required><br>

  <label>Roles</label><br>
  <select name="role">
    <option value="user">Usuario</option>
    <option value="admin">Admin</option>
  </select><br><br>

  <button type="submit">Crear</button>
</form>
</div>

{% endblock %}

